@font-face {
    font-family: "lucida";
    src: url("assets/font/lucida.ttf");
}
#fiveserver-info {
    display: none;
}
html {
    background-color: #001010;
    color: #7fff7f;
    font-family: "lucida";
    background-image: url("assets/barely_noticable_line.png");
    image-rendering: pixelated;
}
* {
    padding: 0px;
    margin: 0px;
    gap: 0px;
    line-height: 16px;
}
body {
    width: 512px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
*::selection {
    color: #001010;
    background-color: #7fff7f;
}

.bar {
    padding: 0px;
    margin-top: 32px;
    margin-bottom: 16px;
    background-color: #7fff7f;
    color: #001010;
    height: 16px;
    padding-left: 10px;
}
.bar::selection {
    color: #7fff7f;
    background-color: #001010;
}
.bar > span.right {
    position: fixed;
    right: calc(50% - 240px);
}
.bar > span.right::selection {
    color: #7fff7f;
    background-color: #001010;
}
.bar > span.right > a {
    color: #001010;
    text-decoration: none;
}
.bar > span.right > a::before {
    content: "::"
}
.bar > span.right > a:hover {
    color: #7fff7f;
    background-color: #001010;
}
.bar > span.right > a::selection {
    color: #7fff7f;
    background-color: #001010;
}

.divider {
    height: 2px;
    margin-top: 23px;
    margin-bottom: 23px;
    background-color: #7fff7f;
}
a, .run {
    color: #7fff7f;
    text-decoration: none;
}
.run {
    user-select: none;
}
a::before {
    content: "::"
}
.run::before {
    content: ">>"
}
a:hover, .run:hover {
    color: #001010;
    background-color: #7fff7f;
    cursor: pointer;
}
a::selection, .run::selection {
    color: #001010;
    background-color: #7fff7f;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.push {
    margin-left: 8px;
}