:root {
    --gray-1: #141419;
    --gray-2: #1e1e23;
    --gray-3: #28282d;

    --gray-4: #282832;
    --gray-5: #3c3c46;
    --gray-6: #50505a;

    --gray-7: #3c3c4b;
    --gray-8: #5a5a69;
    --gray-9: #787887;
}

.hobby-cards {
    max-width: 512px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 8px;
    grid-template-rows: auto;
}
.hobby-cards > span {
    border-radius: 8px;
    border-width: 1px;
    border-color: var(--gray-2);
    border-style: solid;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}
.hobby-cards > span > * {
    margin: 0px;
}
.hobby-cards > span > .hobby-title {
    font-size: 32px;
    font-weight: 500;
}
.hobby-cards > span > .hobby-subtitle {
    color: var(--gray-9);
}