@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --gray-1: #141419;
    --gray-2: #1e1e23;
    --gray-3: #28282d;

    --gray-4: #282832;
    --gray-5: #3c3c46;
    --gray-6: #50505a;

    --gray-7: #3c3c4b;
    --gray-8: #5a5a69;
    --gray-9: #787887;
}

* {
    font-family: "poppins";
    color: white;
}

body {
    padding: 0px;
    margin: 0px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-title {
    font-size: 48px;
    font-weight: 400;
    color: var(--gray-9);
}

div {
    max-width: 512px;
    text-align: left;
}

divider {
    max-width: 100%;
    width: 512px;
    height: 1px;
    background-color: var(--gray-6);
    margin-top: 16px;
    margin-bottom: 16px;
}

.profile-picture {
    border-radius: 50%;
    height: 128px;
    width: 128px;
    background-image: url("icon.png");
    background-size: cover;
}