.boing {
    margin-bottom: 256px;
    transform: translateY(64px);
    margin-left: 128px;
    animation-name: boing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    width: 64px;
}
.boing-shadow {
    position: absolute;
    background-color: black;
    border-radius: 50%;
    opacity: 0.5;
    display: block;
    filter: blur(8px);
    width: 128px;
    height: 32px;
    margin-left: 96px;
    transform: translateY(-48px) translateZ(48px);
    animation-name: boing-shadow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    z-index: -1;
}

.spin {
    margin-left: 128px;
    margin-top: 128px;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    width: 128px;
}

@keyframes boing {
    0% {
        transform: translateY(256px) scaleX(2) scaleY(0.5);
    }
    40% {
        transform: translateY(0px) scaleX(1) scaleY(1.5);
    }
    100% {
        transform: translateY(256px) scaleX(2) scaleY(0.5);
    }
}
@keyframes boing-shadow {
    0% {
        opacity: 0.5;
        filter: blur(8px);
    }
    40% {
        opacity: 0.25;
        filter: blur(16px);
    }
    100% {
        opacity: 0.5;
        filter: blur(8px);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-45deg) translateY(-64px);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(45deg) translateY(-32px) translateX(-24px);
    }
    100% {
        transform: rotate(0deg);
    }
}