text {
    color: white;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, 1px 0px 0 #000000, 0px 1px 0 #000000, -1px 0px 0 #000000, 0px -1px 0 #000000;
}

h2 {
    transition-duration: 0.4s;
}

h2.fade_out {
    color: transparent;
}

.label_line {
    margin: auto;
    width: 60%;
    height: 1px;
    background-image: url("../img/label_line.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.label {
    margin: auto;
    width: 60%;
    background-image: url("../img/label.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    position: relative;
    margin-top: 50px;
    text-align: center;
}

button.eightball {
    transition-duration: 0.1s;
    background: none;
    border-width: 0px;
    transition-timing-function: ease-in-out;
}

button.eightball:active {
    transform: scale(0.85);
}