#blogWindow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

#blogWindow > button {
    background:  none;
    appearance: none;
    border: none;
    width: 60px;
    height: 96px;
    color: #7fff7f;

    font-family: "lucida";
    padding-top: 23px;
    border-top: 2px #7fff7f solid;
    margin-top: 23px;
    padding-bottom: 23px;
    border-bottom: 2px #7fff7f solid;
    margin-bottom: 39px;
}
#blogWindow > button.previous {
    border-right: #7fff7f 10px solid;
    border-left: none;
}
#blogWindow > button.next {
    border-left: #7fff7f 10px solid;
    border-right: none;
}

#blogWindow > .window {
    display: grid;
    grid-template-rows: 16px 96px;
    width: 280px;

    border-left: #7fff7f 10px solid;
    border-right: #7fff7f 10px solid;
    
    padding-bottom: 23px;
    border-bottom: 2px #7fff7f solid;
    margin-bottom: 23px;
}
#blogWindow > .window > .title {
    background-color: #7fff7f;
    color: #001010;
}
#blogWindow > .window > .title::selection {
    color: #7fff7f;
    background-color: #001010;
}
#blogWindow > .window > .title > span {
    user-select: none;
}
#blogWindow > .window > span:nth-child(2) {
    padding-left: 10px;
    padding-right: 10px;
}